/* Estilizando o fundo, h2 e paragrafos*/
html {
    font-family: Helvetica;
    background-color: #051d49;
}

h2 {
    text-align: center;
    font-size: 35px;
    font-family: 'Cinzel', serif;
    color: #FFD700;
    font-weight: bold;
}

p {
    font-size: 17px;
    padding: 3px;
    line-height: 1.5;
}

/* Player de audio */
.aviso-volume {
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
    border: 1px solid gold;
    border-radius: 10px;
}




/* Container centralizado */

.container {
    max-width: 1150px;
    background-color: #fff;
    margin: 50px auto;
    padding: 20px 50px;
    border-radius: 18px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(212, 175, 55, 0.6);
}

.bold {
    font-weight: bold;
}

/*header */
.header-title {
    text-align: center;
    font-size: 50px;
    font-family: 'Cinzel', serif;
    color: gold;
}

.header-paragraph {
    text-align: center;
    font-size: 25px;
}

/* Centralizando as imagens */
img {
    width: 70%;
    height: 70%;
    object-fit: cover;
    margin-top: 30px;
    border: 3px solid gold;
}

.game-content, .figcaption {
    text-align: center;
    margin-bottom: 30px;
}

/* Quotes */
.quote-container {
    background-color: #051d49; 
    color: #F5F5F5; 
    padding: 10px;
    font-style: 'Cinzel', serif;
    font-size: 20px;
    border-radius: 10px;
    position: relative;
    border: 5px solid gold;
}

.quote-container footer {
    font-style: 'Cinzel', serif;;
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
    color: #FFD700; 
}


/* Biografia e containers */
.biography-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

.main-container1 {
    padding: 25px 0;
    margin: 25px 0;
}

.main-container2 {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

.main-container3 {
    padding: 25px 0;
    margin: 25px 0;
}

.main-container4 {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

.main-container5 {
    padding: 25px 0;
    margin: 25px 0;
}

.main-container6 {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

.main-container7 {
    padding: 25px 0;
    margin: 25px 0;
}

.main-container8 {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

/* Listas */
.list-container {
    display: flex;
    justify-content: space-between; 
    gap: 5%; 
}


ol {
    background-color: #051d49; 
    color: #F5F5F5; 
    padding: 40px;
    font-size: 20px;
    border-radius: 18px;
    border: 5px solid gold;
    width: 40%;
    text-align: center;
}


ul {
    background-color: #051d49; 
    color: #F5F5F5; 
    padding: 40px;
    font-size: 20px;
    border-radius: 18px;
    border: 5px solid gold;
    width: 40%;
    text-align: center;
}

.list1 li {
    padding: 10px;
    font-family: 'Cinzel', serif;
    font-size: 20px;
}

.list2 li {
    padding: 30px;
    font-family: 'Cinzel', serif;
}

